{% extends "base.html" %}

{% block content %}

<h2 class="page-title">Lista de Clientes</h2>
<table class="client-table">
    <thead>
        <tr>
            <th>Nome do Cliente</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client[0] }}</td>
            <td></td>
            <td>{{ client[1] }}
                <a href="{{ url_for('client_detail', client_id=client[0]) }}" class="btn btn-details">Detalhes</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
