{% extends "base.html" %}

{% block content %}
    <h1>Selecione o ano e mês de referência</h1>
    <form method="POST" class="form-custom">
        <div class="select-container"></div>
            <label for="ano">Ano:</label>
            <select name="ano" id="ano" required class="select-custom">
                <option value="2025">2025</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <!-- Adicione mais opções de ano se necessário -->
            </select><br>
        </div>

        <label for="mes">Mês:</label>
        <select name="mes" id="mes" required class="select-custom">
            <option value="01">Janeiro</option>
            <option value="02">Fevereiro</option>
            <option value="03">Março</option>
            <option value="04">Abril</option>
            <option value="05">Maio</option>
            <option value="06">Junho</option>
            <option value="07">Julho</option>
            <option value="08">Agosto</option>
            <option value="09">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select><br>

        <button type="submit" class="btn btn-confirm-date">Selecionar</button>
    </form>
{% endblock %}
