*.db
leitura_ult.sh
ults/*
whatsbot/*
op_diaria/numeros.txt
op_diaria/dfdados.csv
op_diaria/saida.log
.python-version
saida.log
node_modules
*.pdf
*.ini
*.service
logs
tmp
*.log
*__pycache__
*.json
*.sqlite
FETCH_HEAD
google-chrome-stable_current_amd64.deb
clientes
dashboard/__init__.py
dashboard/__pycache__
op_diaria/__pycache__
*.csv
dashboard/
Interface_processamento/teste.py
dashboard/__pycache__/dados_fatura.cpython-310.pyc
recarga_ult.sh
config.ini
config.ini
FETCH_HEAD
recarga_ult.sh
dashboard/busca_faturas.py
dashboard/dados_fatura.py
dashboard/__pycache__/dados_fatura.cpython-310.pyc
op_diaria/__pycache__/estimativa.cpython-310.pyc
"dashboard/avian-mile-408520-0064dda25c71.json" 
FETCH_HEAD
recarga_ult.sh
dashboard/avian-mile-408520-0064dda25c71.json
