[Unit]
Description= Gerenciador FTP
After=network.target

[Service]
ExecStart=/home/abs/.nvm/versions/node/v21.7.3/bin/node /home/abs/Aplicativos/gerenciador_ftp/upload.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-example

[Install]
WantedBy=multi-user.target
